
@media (min-width: 1200px){
h2{
    font-size: 2.23rem;
    margin-left: 25rem;
}
}

.row {
  --bs-gutter-x: -2.5rem;
  margin-bottom: 5rem;
}

.my-3 {
  margin-top: 2rem!important;
  margin-bottom: 2rem!important;
}

.col-md-4
{
margin-bottom: 5rem;
}

.start-100 {
  left: 86%!important;
}

.btn1
{
  margin-right: 50px;
}

.container1{
  margin-left: 90px;
}
.head{
  margin-left: 20px;
}


